.tabela th {
  width: 30px;
  height: 30px;
  background-color: brown;
}
#heroi {
  background-color: aqua;
}
.orcs {
  color: rgb(138, 253, 138);
}
.tesouro {
  color: gold;
}
.machado {
  font-size: 0px;
}
